name: CI

on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        node_version: [14]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          python: 3.7
          node_version: ${{ matrix.node_version }}

      - name: run CI
        run: |
          python3 -m venv .
          source bin/activate
          pip install -r requirements.txt
          npm install
          npm run test
